<%- include('../partials/header.ejs') %>
<h2>All Pools</h2>

<div class="pools-container">
<% if (pools.length) { %>
  <ul>
    <% pools.forEach((pool) => { %>
    <li class="pool-item">
      <p><b>Creator:</b> <%= pool.user.username %> </p>
      <p><b>Name:</b> <%= pool.name %> </p>
      <p><b>Rating:</b> <%= pool.rating %></p>
      <p><b>Location:</b> <%= pool.location %></p>
      <p><b>Event:</b> <%= pool.event %></p>
      <% if (pool.date) { %>
        <p><b>Event Date:</b> <%= pool.date.toLocaleDateString() %></p>
        <% } else { %>
          <p><b>Event Date:</b> Not specified</p>
          <% } %>
          <% if (user._id.equals(pool.user)) { %>
            <p></p>
            <% } %>
        <p><b>Athlete/Spectator Experience:</b><br> <%= pool.review %></p>
    </li>
    <% }); %>
  </ul>
  <% } else { %>
  <h3>No Pools Yet</h3>
  <% } %> 
</div>
<%- include('../partials/footer.ejs') %>