<%- include('../partials/header.ejs') %>


<h2>My Pools</h2>
<div class="mypools-container">
  <% if (pools.length) { %>
  
    <% pools.forEach((pool) => { %>
      <li class="my-pools">
      </form>
      <p><b>Name:</b> <%= pool.name %> <%= pool.rating %></p>
      <p><b>Location:</b> <%= pool.location %></p>
      <p><b>Event:</b> <%= pool.event %></p>
      <% if (pool.date) { %>
        <p><b>Event Date:</b> <%= pool.date.toLocaleDateString() %></p>
        <% } else { %>
          <p><b>Event Date:</b> Not specified</p>
          <% } %>
          <p><b>Athlete/Spectator Experience:</b> <%= pool.review %></p>
          <form
          action="/pools/<%= pool._id %>/?_method=DELETE"
          method="POST"
          class="delete-form">
          <a href="/pools/<%= pool._id %>/edit">Edit</a>
          <button type="submit">Delete</button>&nbsp;
        </li>
        <% }); %>
      </div>
  
  <% } else { %>
  <h3>No Pools Yet</h3>
  <% } %>
<%- include('../partials/footer.ejs') %>
