<%- include('../partials/header.ejs') %>

<h1>My Pools</h1>

<div>
<% if (pools.length) { %>
  <ul>
    <% pools.forEach((pool) => { %>
    <li>
      <p>Name: <%= pool.name %></p>
      <p>Location: <%= pool.location %></p>
      <p>Event: <%= pool.event %></p>
      <p>Event Date: <%= pool.date.toLocaleDateString() %></p>
          <a href="/pools/user/edit">Edit Food</a>
          <form action="/pools/<%= pool._id %>/?_method=DELETE" method="POST">
              <button type="submit">❌</button>
          </form>
    </li>
    <% }); %>
  </ul>
  <% } else { %>
  <h3>No Pools Yet</h3>
  <% } %> 
</div>
<%- include('../partials/footer.ejs') %>