<%- include('../partials/header.ejs') %>

<h2>My Pools</h2>

<!-- <div> -->
  <% if (pools.length) { %>
  <ul>
    <% pools.forEach((pool) => { %>
      <li>
      <form
        action="/pools/<%= pool._id %>/?_method=DELETE"
        method="POST"
        class="delete-form">
      <p>Name: <%= pool.name %></p>
      <p>Location: <%= pool.location %></p>
      <p>Event: <%= pool.event %></p>
      <% if (pool.date) { %>
        <p>Event Date: <%= pool.date.toLocaleDateString() %></p>
      <% } else { %>
        <p>Event Date: Not specified</p>
      <% } %>
      <p>Review: <%= pool.review %></p>
      <button type="submit">Delete</button>&nbsp;
      <br>
      <a href="/pools/<%= pool._id %>/edit">Edit Pool</a>
    </form>
    </li>
    <% }); %>
  </ul>
  <% } else { %>
  <h3>No Pools Yet</h3>
  <% } %>
<!-- </div> -->
<%- include('../partials/footer.ejs') %>
